[submodule "vendor/symfony/http-kernel/Symfony/Component/HttpKernel"]
	path = vendor/symfony/http-kernel/Symfony/Component/HttpKernel
	url = https://github.com/symfony/HttpKernel.git
[submodule "vendor/facebook/php-sdk"]
	path = vendor/facebook/php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "vendor/pimple/pimple"]
	path = vendor/pimple/pimple
	url = https://github.com/fabpot/Pimple.git
[submodule "vendor/twig/twig"]
	path = vendor/twig/twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/silex/silex"]
	path = vendor/silex/silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/symfony/routing/Symfony/Component/Routing"]
	path = vendor/symfony/routing/Symfony/Component/Routing
	url = https://github.com/symfony/Routing.git
[submodule "vendor/symfony/http-foundation/Symfony/Component/HttpFoundation"]
	path = vendor/symfony/http-foundation/Symfony/Component/HttpFoundation
	url = https://github.com/symfony/HttpFoundation.git
