[submodule "vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher"]
	path = vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher
	url = git@github.com:symfony/EventDispatcher.git
[submodule "vendor/symfony/routing/Symfony/Component/Routing"]
	path = vendor/symfony/routing/Symfony/Component/Routing
	url = git@github.com:symfony/Routing.git
[submodule "vendor/symfony/http-foundation/Symfony/Component/HttpFoundation"]
	path = vendor/symfony/http-foundation/Symfony/Component/HttpFoundation
	url = git@github.com:symfony/HttpFoundation.git
[submodule "vendor/symfony/http-kernel/Symfony/Component/HttpKernel"]
	path = vendor/symfony/http-kernel/Symfony/Component/HttpKernel
	url = git@github.com:symfony/HttpKernel.git
[submodule "vendor/facebook/php-sdk"]
	path = vendor/facebook/php-sdk
	url = git@github.com:facebook/facebook-php-sdk.git
[submodule "vendor/pimple/pimple"]
	path = vendor/pimple/pimple
	url = git@github.com:fabpot/Pimple.git
[submodule "vendor/twig/twig"]
	path = vendor/twig/twig
	url = git@github.com:fabpot/Twig.git
[submodule "vendor/silex/silex"]
	path = vendor/silex/silex
	url = git@github.com:fabpot/Silex.git
