[submodule "vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher"]
	path = vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher
	url = git@github.com:symfony/EventDispatcher.git
