{% extends 'layout.html.twig' %}

{% block content %}
  <script type="text/javascript">
      $(document).ready(function(){
          $(":button").click(function() {
            $("#level").val($(this).val());
            $('#level_form').submit();
          });
      });
  </script>

  <div>
      <header class="clearfix">
        <h1>Select your game level</h1>
      </header>
      <section id="samples" class="clearfix levels">
        <form id="level_form" method="POST" action="{{ app.url_generator.generate('level') }}">
          <input id="level" type="hidden" name="level" value=""/>
          <input class="button orange" type="button" value="Novice">
          <input class="button orange" type="button" value="Normal">
          <input class="button orange" type="button" value="Expert">
        </form>
      </section>
  </div>
{% endblock %}