{% extends 'layout.html.twig' %}

{% block content %}
  <script type="text/javascript">
      $(document).ready(function(){
          $("input .button").click(function(){
            $("#level").val($this.val());
          });
      });
  </script>

  <div>
      <header class="clearfix">
        <form id="level_form" method="POST" action="/level">
          <input id="level" type="hidden" name="level" value=""/>
          <input class="button orange" type="button" value="Novice">
          <input class="button orange" type="button" value="Normal">
          <input class="button orange" type="button" value="Expert">
        </form>
      </header>
  </div>
{% endblock %}